<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale" />
    <title>Práctica No. 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}" />
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">Práctica No. 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/modelos">Modelos<span class="sr-only">(current)</span</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Modelos</h1>
            {% for dat in data %}
            <div class="card" style="width: 80rem;">
                <img class="card-img-top" src="data:image/png;base64,{{ dat['img']}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{dat['nombre']}}</h4>
                    <div class="table-wrapper">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Modelo</th>
                                    <th>exacitud entreno</th>
                                    <th>exactitud validacion</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for inf in dat['info'] %}
                                <tr>
                                    <td>{{inf['nombre']}}</td>
                                    <td>{{inf['exactitud-entreno']}}</td>
                                    <td>{{inf['exactitud-validacion']}}</td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>