<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale"/>
    <title>Práctica No. 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}"/>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">Práctica No. 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive"></div>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Cargar imagenes</h1>
        <div class="card text-white bg-primary mb-3" style="max-width: 100rem;">
          <div class="card-header">Seleccione las imagenes</div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-6">
                <div class="col p-4 d-flex flex-column position-static">
                  <form action="/cargar_imagenes" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <div class="input-gruop mb-3">
                        <div class="custom-file">
                          <input id="img1" name="img1" type="file" class="custom-file-input" accept="image/jpeg" multiple="True"/>
                          <label class="custom-file-label" for="img1">Seleccione las imagenes</label>
                        </div>
                        <div class="input-group-append">
                          <input type="submit" value="Aceptar" class="input-group-text" />
                          <input type="reset" value="Cancelar" class="input-group-text" />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
